<%- include('header', { title: 'Create Car' }) %>
  <h2>Create Car</h2>

  <form action="/cars" method="post">
    <div>
      <label for="make">Make:</label>
      <input type="text" id="make" name="make" required>
    </div>
    <div>
      <label for="model">Model:</label>
      <input type="text" id="model" name="model" required>
    </div>
    <div>
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" required>
    </div>
    <div>
      <label for="person_id">Owner:</label>
      <select name="person_id" id="person_id" required>
        <% people.forEach(person=> { %>
          <option value="<%= person.id %>">
            <%= person.name %>
          </option>
          <% }) %>
      </select>
    </div>
    <button type="submit">Create Car</button>
  </form>

  <%- include('footer') %>